body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.flexiblity{
    display: flex;
}
p{
    padding-bottom: 10% ;
}
.sec-one-div-padding{
    padding-top: 10% ;
    padding-left: 5%;
}
.sec-three-div-padding{
    padding: 5% ;

}
#div-aliegn{
    text-align: center;
}    

.link-tab{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    border-radius: 20px;
    padding: 10px 15px;
}
.div-width{
    width: 50%;
}
.img-width{
    width: 100%;
}
.sec-one{
    padding-bottom: 10%;
}
.sec-two{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-bottom: 10%;
}
.sec-three-div-boxing{
    box-shadow: 10px 10px 30px gray;  
    padding: 15px;
    border-radius: 5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    
}